{{!-- <article>
  <LinkTo @route="index.note" @model={{@note.id}}>
    {{@note.title}}
  </LinkTo>
  <p>{{@note.content}}</p>
  <button type="button" {{on "click" (fn @onDelete @note.id)}}>Удалить заметку</button>
</article> --}}

<LinkTo @route="index.note" @model={{@note.id}}>
  <article
    class="group block relative max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <div class="p-6">

      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >{{@note.title}}</h5>
      <p
        class="font-normal text-gray-700 dark:text-gray-400"
      >{{@note.content}}</p>
      <button
        class="bg-red-500 text-white p-2 rounded-full"
        class="absolute cursor-pointer z-100 top-2 right-2 opacity-0 group-hover:opacity-100 transition-opacity text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
      >
        <svg
          class="w-4 h-4 inherit dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
          />
        </svg>

      </button>
    </div>
    {{#if @note.comments.length}}
      <div
        class="border-t border-gray-300 mt-4 pt-2 text-sm px-6 py-3 text-sm text-gray-400 italic"
      >
        comments:
        {{@note.comments.length}}
      </div>
    {{/if}}
  </article>
</LinkTo>