{{page-title "Awesome notes"}}
<div class="bg-gray-200 dark:bg-gray-800 shadow-md mb-5 py-2">
  <div class="container mx-auto px-8">
    <form class="flex flex-col justify-start space-x-5 md:flex-row">
      <div class="flex items-center space-x-2 mb-2 me-0 md:mb-0 md:me-3">
        <label
          for="sort"
          class="w-15 md:w-auto flex-shrink-0 block text-sm font-medium text-gray-900 dark:text-white"
        >Sort by:</label>
        <select
          id="sort"
          class="cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          {{on "change" this.handleSortChange}}
        >
          <option value="dateDesc" selected>Default</option>
          <option value="alphabetAsc">Alphabet (A - Z)</option>
          <option value="alphabetDesc">Alphabet (Z - A)</option>
          <option value="commentsAsc">Comments count (less first)</option>
          <option value="commentsDesc">Comments count (more first)</option>
          <option value="dateAsc">Date (newest)</option>
          <option value="dateDesc">Date (latest)</option>
        </select>
      </div>
      <div class="flex items-center space-x-2 mb-2 me-0 md:mb-0 md:me-3">
        <label
          for="filter"
          class="w-15 md:w-auto flex-shrink-0 block text-sm font-medium text-gray-900 dark:text-white"
        >Filter by:</label>
        <select
          id="filter"
          class="cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          {{on "change" this.handleFilterChange}}
        >
          <option value="none" selected>None</option>
          <option value="hasComments">Has comments</option>
          <option value="hasDescription">Has description</option>
        </select>
      </div>
      <div class="flex items-center space-x-2 mb-2 md:mb-0">
        <label
          for="search"
          class="w-15 md:w-auto flex-shrink-0 block text-sm font-medium text-gray-900 dark:text-white"
        >Search:</label>
        <div class="relative w-full">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <input
            type="search"
            id="search"
            class="block w-full p-4 py-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search Mockups, Logos..."
            required
            {{on "input" this.handleSearch}}
          />
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container mx-auto px-8 pb-2">
  <AddNoteForm @addNote={{this.addNote}} />

  {{#if this.model.length}}
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 auto-rows-[180px]"
    >
      <NoteList
        @notes={{this.model}}
        @onDelete={{this.deleteNote}}
        @onOpenModal={{this.showModal}}
      />
    </div>

  {{else}}
    <p class="italic text-center text-gray-500 dark:text-gray-400 p-10">No notes</p>
  {{/if}}

  {{#if this.showDeleteNoteModal}}
    <DeleteNoteModal
      @closeModal={{this.closeModal}}
      @stopPropagation={{this.stopPropagation}}
      @onDelete={{this.deleteNote}}
      @note={{this.noteToDelete}}
    />
  {{/if}}

  {{outlet}}

</div>